* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    min-height: 100vh
}

.container h1{
    display: flex;
    margin-bottom: 20px;
    }


.form-campo {
    margin-bottom: 8px;
}

.form-campo label {
    font-weight: bold;
}

.form-campo input {
    display: flex;
    padding: 8px 0;
}

section {
    align-items: center;
    justify-content: center;
    flex: 1; 
    display: flex;
}
/* flex:1 permite que o formulario ocupe todo o espaço disponivel*/

footer {
    bottom: 0;
    position: fixed;
}

section button{
    cursor: pointer;
}

footer {
    display: flex;
}

